header{
    background-color: black;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eb9f20;
    font-size: 1.5rem;

    .logo {
        width: 8rem;
    }

    .nav-link {
        color: #eb9f20;
    }
    
    .nav-link:hover {
        color: white;
    }
    
    .width-bg {
        padding: 2rem;
    }
}