header{
    @include flexible;
    @include mainFont;
    @include colores;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;

    .logo {
        width: 8rem;
    }

    .nav-link {
        color: $mainColor;
    }
    
    .nav-link:hover {
        color: white;
    }
    
    .width-bg {
        padding: 2rem;
    }
}